# Aggressively exclude HTML from language stats
discord-bot/**/*.html linguist-vendored=true linguist-detectable=false
discord-bot/*.html linguist-vendored=true linguist-detectable=false
*.html linguist-detectable=false
dist/** linguist-vendored=true
